{% extends "base.html" %}

{% block title %} SSIS-Courses {% endblock%}
{% block body %}
    <div class="py-0 my-0 bg-white text-dark">
        <p class="text-center font-weight-bold h1">
            MSU-IIT Courses
        </p>
    </div>

    <div class="align-middle">
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="col-md-12">
                <div class="card card-body">
                    <form action="{{url_for('add_course')}}" method="POST">
                        <p class="text-left font-weight-bold h5">
                            Add Course
                        </p>
                        <div class="form-group from-dark">
                            <label for="ExampleInputCourseCode">Course Code</label>
                            <input type="text" class="form-control" name="Course_Code" placeholder="Enter Course Code">
                        </div>
                        <div class="form-group">
                            <label for="ExampleInputCourseName">Course Name</label>
                            <input type="text" class="form-control" name="Course_Name" placeholder="Enter Course Name">
                        </div>
                        <div class="form-group">
                            <label for="ExampleInputCollegeCode">College Code</label>
                            <input type="text" class="form-control" name="College_Code" placeholder="Enter College Code">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-warning" onclick="return confirm('Are you sure you want to add this course on the list?')">Add</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <br>
    <div class="py-0 my-0 bg-white text-dark">
        <p class="font-weight-normal h6">
            Select Field to Search
        </p>
    </div>
    <div class="search">
        <form action="{{url_for('search_course')}}" method="POST" class="form-inline">
            <div class="input-group">
                <div class="input-group-prepend">
                    <select id="search_select" name="search_select" class="form-select h6">
                        <option value="general">General Search</option>
                        <option value="course_code">Course Code</option>
                        <option value="course_name">Course Name</option>
                        <option value="college_code">College Code</option>
                    </select>
                </div>
                <input id="u_search" class="searchfield h6" type="text" name="u_search" placeholder="Search College">
                <div class="input-group-append">
                    <button class="btn btn-warning btn-outline-dark btn-search font-weight-bold h2" type="submit">
                        Search
                    </button>
                </div>
            </div>

            <div class="bg-white text-white">
                <p>white spacetofillbetweenbuttonsforposition</p>
            </div>
            
            <div class="btn-group">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-dark btn-warning font-weight-bold h2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Add New Course Information
                </button>
                <a href="{{ url_for('courses') }}" class="btn btn-outline-dark btn-warning font-weight-bold h2">
                    Display Courses
                </a>
            </div>
        </form>
    </div>

    <div class="align-middle">
        <table class="table table-hover table-striped table-bordered table-dark" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <td>Course Code</td>
                    <td>Course Name</td>
                    <td>College Code</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                {% for data in courses %}
                <tr>
                    <td>{{data.Course_Code}}</td>
                    <td>{{data.Course_Name}}</td>
                    <td>{{data.College_Code}}</td>
                    <td width="130">
                        <a href="/edit/course/{{data.Course_Code}}" class="btn btn-warning btn-sm">edit</a>
                        <a href="/delete/course/{{data.Course_Code}}" class="btn btn-danger btn-delete btn-sm" onclick="return confirm('Are you sure you want to delete this course on the list?')">delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}